<div class="container p-3">
    <div class="card mt-1">
        <div class="card-body">
            <div class="row">
                <div class="col-md-9">
                    <div class="d-flex flex-row justify-content-between align-items-center">
                        <div>
                            <h4 class="card-title mb-1"><a href="{% url "course-detail" usercourse.course.slug %}" class="text-decoration-none">{{ usercourse.course.title }}</a></h4>
                            <p class="card-text mb-1">By: <a href="{{ usercourse.course.instructor.youtube }}" class="text-decoration-none" target="blank">{{ usercourse.course.instructor.username }}</a></p>
                            <p class="card-text mb-1">{{ usercourse.completed_sections }} / {{ usercourse.total_sections|length }} sections completed</p>
                            {% if usercourse.course.excercises.all %}
                                <p class="card-text mb-3">Excercises: </p>
                                <ul class="list-group">
                                {% for excercise in usercourse.course.excercises.all %}
                                <li class="list-group-item pb-0 pt-0 mb-1 d-flex justify-content-start align-items-center" style="border: none;">
                                    {% include "courses/bits/excercise-preview.html" %}
                                    {% for user_excercise in result_excercise.all %}
                                        {% if excercise == user_excercise.excercise %}
                                        <p class="ml-4"> | Previous score: {{ user_excercise.score }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>